<!DOCTYPE html>
<html lang="en">
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>personal.to</title>
    <link rel="stylesheet" href="/css/style.css">
   
  </head>
  <body>
    <nav>
      <div class="nav-container">
        <div class="left-section">
          <a href="#" class="brand-logo">personal.to/</a>
          <div class="nav-links-left">
            <a href="#" class="features-link">features</a>
            <a href="#" class="pricing-link">pricing</a>
          </div>
        </div>
        <div class="right-section">
          <div class="nav-links-right">
            <a href="#" class="signin-link">sign in</a>
            <a href="#" class="create-link">create account</a>
          </div>
        </div>
      </div>
    </nav>
  
      <!-- Main  -->
  
  </body>
  </html>